.body {
  background: url(/public/assets/bg.jpg);
  background-size: cover;
}

.card {
  margin-top: 50%;
  background-color: aqua;
}

.card:hover {
  background-color: aquamarine;
  cursor: pointer;
}
